
  <nav class=" bg-primary flex items-center justify-center m-">

    <div>
      <img src="../src/assets/astro.svg" alt="" />
    </div>

    <ul class="flex gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="tdcrea/About">About</a></li>
    </ul>

  </nav>
