
  <nav class="flex items-center justify-center">

    <div>
      <img src="../src/assets/astro.svg" alt="" />
    </div>

    <ul class="flex gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/About">About</a></li>
    </ul>

  </nav>
